.chat-card {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
}

.chat-header {
  padding: 16px 20px;
  background: #587dce;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 4px rgba(241, 239, 239, 0.05);
  z-index: 10;
  border-radius: 10px;
}

.chat-header h2 {
  font-size: 1.2rem;
  color: #eceef1;
}

.chat-mensagens {
  border-radius: 10px;
  background-color: #587dce;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.mensagem {
  max-width: 80%; 
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  word-wrap: break-word;
}

.mensagem.Bot.CortexCommerce, .mensagem.bot {
  align-self: flex-start;
  background: white;
  color: #374151;
  border: 1px solid #e5e7eb;
  border-bottom-left-radius: 2px;
}

.mensagem.usuario {
  align-self: flex-end;
  background: #2563eb;
  color: white;
  border-bottom-right-radius: 2px;
}

.mensagem p {
  margin-bottom: 8px;
}
.mensagem p:last-child {
  margin-bottom: 0;
}


.chat-input {
  display: flex;
  gap: 12px;
  padding: 20px;
  background: white;
  border-top: 1px solid #e5e7eb;
  border-radius: 10px;
  background-color: #587dce;
}

.chat-input input {
  flex: 1;
  padding: 12px 16px;
  border-radius: 25px; 
  border: 1px solid #d1d5db;
  outline: none;
  transition: border-color 0.2s;
}

.chat-input input:focus {
  border-color: #2563eb;
}

.chat-input button {
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

main{
background-color: white;
}