.registro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #c6d7ec, #eef7f6);
}

.registro-cartao {
  width: 420px;
  background: #ffffff;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.registro-titulo {
  text-align: center;
  color: #2563eb;
  margin-bottom: 4px;
}

.registro-subtitulo {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
}

.registro-field {
  margin-bottom: 14px;
}

.registro-field label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

.registro-field input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dfe5ee;
  outline: none;
}

.registro-field input:focus {
  border-color: #2563eb;
}

.registro-botao {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.registro-botao:hover {
  background-color: #16a34a;
}

.registro-link {
  margin-top: 16px;
  width: 100%;
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.registro-link:hover {
  text-decoration: underline;
}
.erro-texto {
  color: #dc2626;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}


.campo-senha {
  position: relative;
}

.campo-senha input {
  width: 100%;
  padding-right: 42px;
}

.btn-olho {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #6b7280;
}

.btn-olho:hover {
  color: #2563eb;
}
