.menu-lateral {
    width: 220px;
    height: 100vh;
    background: #648aaf;
    border-right: 1px solid #e5e7eb;
    padding: 24px 16px;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .logo {
    font-size: 35px;
    font-weight: 600;
    color: #2563eb;
    margin-bottom: 30px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: #555d69;
    font-size: 15px;
    transition: background 0.2s;
  }
  
  .item:hover {
    background: #9aa7c2;
  }
  
  .item.ativo {
    background: #0e3486;
    color: rgb(253, 253, 253);
  }
  