.menu-lateral {
  width: 240px;
  height: 100vh;
  background: #ffffff;
  padding: 20px;
  border-right: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  font-weight: 600;
  color: #2563eb;
  margin-bottom: 32px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 8px;
  color: #374151;
  font-weight: 500;
}

.item:hover {
  background-color: #f1f5f9;
}

.item.ativo {
  background-color: #2563eb;
  color: #ffffff;
}


.logout-btn {
  background: none;
  border: none;
  color: #3d2e2e;
  font-weight: 800;
  padding: 12px 14px;
  cursor: pointer;
  text-align: left;
  border-radius: 8px;
}

.logout-btn:hover {
  background-color: #f34d4d;
}
